@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,500;0,700;0,900;1,400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    width: 100vw;
    height: 100vh;
    font-family: 'Barlow', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

:root {
 
    --orange: #F16718;
    --light-orange:#FF9B62 ;
    --black: #162542;
    --gray: #7B8BAD;
    --light-gray:#E8EFF2;
    --white: #FFFFFF;

}

.white-btn {
    padding: 11px 14.5px 11px 13.5px;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0px;
    text-transform: uppercase;
    font-family: Barlow;
    border-radius: 8px;
    border: 0;
    text-shadow: none;
    background-color: var(--light-gray);
    color:var(--black);
   
}

.header-section-1 {
    display: flex;
    align-items: start;
    column-gap: 136.5px;
    margin-top: 27px ;
    margin-left: 24px;
    margin-bottom: 68px;
}

.section-2-text {
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0px;
    font-family: Barlow;
    color: var(--gray);
   

}



.title {
    font-size: 48px;
    font-weight: 900;
    line-height: 48px;
    letter-spacing: 0px;
    font-family: Barlow;
    text-transform: uppercase;
    margin-left: 24px;

}

.header-paragraph {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    font-family: Barlow;
    color: var(--gray);
    margin-top: 32px;
    margin-left: 24px;

}

.header-section-2 {
    display: flex;
    align-items: center;
    column-gap: 32px;
    margin-left: 24px;
    margin-top: 32px;
   
   
}

.orange-btn {
    padding: 11px 14px;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0px;
    text-transform: uppercase;
    font-family: Barlow;
    border-radius: 8px;
    border: 0;
    text-shadow: none;
    background-color: var(--orange);
    color:var(--white);
   
}
.header-section-3 {
  overflow: hidden;
}

.header-keyboard-mobile {
    max-width: 100%;
  	border-radius: 12px;
    margin-left: 24px;
    margin-top: 24.5px;
    
}

.header-keyboard-tablet {
  display: none;
}

.main-section-1 {
    display: flex;
    gap: 27px;
    margin-top: 22px;
   
}

.main-section-1-img-1  {
    width: 144px;
    height: 226px;
    border-radius: 18px;
    mix-blend-mode: multiply;
    opacity: 0.75;
   
}

.main-section-1-img-2 {
    width: 55%;
    border-radius: 18px;
 
}

.transpharent-cover {
    margin-left: -25px;
    border-radius: 18px;
    background-color: #f16718;
    width: 144px;
    height: 30%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  } 

  .main-section-2 {
     display: flex;
     flex-direction: column;
     text-align: center;
     row-gap: 24px;
     margin-top: 65px;
     margin-bottom: 111px;
    }
     
  .main-section-2-title {
    font-family: Barlow;
    font-size: 32px;
    font-weight: 900;
    line-height: 36px;
    letter-spacing: 0px;
    margin-left: 60px;
    margin-right: 60px;
    text-transform: uppercase;
  }

  .main-section-2-paragraph {
      font-family: Barlow;
      font-size: 16px;
      font-weight: 500;
      line-height: 26px;
      color: var(--gray);
      margin-left: 24px;
      margin-right: 24px;


  }

  /*footer footer */

  footer {
    display: flex;
    flex-direction: column;
   
  }

  .footer-section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-section-1-img {
   background-color: #F16718;
   width: 65px;
   left: 155px;
   top: 1455px;
   border-radius: 16px;
   padding: 22.45px 19.86px 22.31px 20px;
   height: 65px;
   margin-bottom: 48px ;

  }

  .footer-section-1-title {
    font-family: Barlow;
    font-size: 24px;
    font-weight: 900;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
    white-space:pre-line;
    margin-bottom: 24px;

  }

  .footer-section-1-paragraph {
    font-family: Barlow;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    margin-left: 24px;    
    margin-right: 24px;   
    color: var(--gray);
  }

  /*footer section2 */
  
  .footer-section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
  }

  .footer-section-2-img {
   background-color: #F16718;
   width: 65px;
   left: 155px;
   top: 1455px;
   border-radius: 16px;
   padding: 19px 23.6px 18.14px 23.73px;
   height: 65px;
   margin-bottom: 48px ;

  }

  .footer-section-2-title {
    font-family: Barlow;
    font-size: 24px;
    font-weight: 900;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
    white-space:pre-line;
    margin-bottom: 24px;

  }

  .footer-section-2-paragraph {
    font-family: Barlow;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    margin-left: 24px;    
    margin-right: 24px;   
    color: var(--gray);
  }

  /*footer section3 */

  .footer-section-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
  }

  .footer-section-3-img {
   background-color: #F16718;
   width: 65px;
   left: 155px;
   top: 1455px;
   border-radius: 16px;
   padding: 23.33px 17.01px 21.67px 16px;
   height: 65px;
   margin-bottom: 48px ;

  }

  .footer-section-3-title {
    font-family: Barlow;
    font-size: 24px;
    font-weight: 900;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
    white-space:pre-line;
    margin-bottom: 24px;

  }

  .footer-section-3-paragraph {
    font-family: Barlow;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    margin-left: 24px;    
    margin-right: 24px;   
    color: var(--gray);
  }

/*footer section3 */

.footer-section-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
  }

  .footer-section-4-img {
   background-color: #F16718;
   width: 65px;
   left: 155px;
   top: 1455px;
   border-radius: 16px;
   padding: 16px 17px 17px 16px;
   height: 65px;
   margin-bottom: 48px ;

  }

  .footer-section-4-title {
    font-family: Barlow;
    font-size: 24px;
    font-weight: 900;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
    white-space:pre-line;
    margin-bottom: 24px;

  }

  .footer-section-4-paragraph {
    font-family: Barlow;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    margin-left: 24px;    
    margin-right: 24px;   
    color: var(--gray);
    margin-bottom: 96px;
  }

  .footer-bottom {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 3px;
    margin-bottom: 50px;
  }

  .footer-bottom-1 {
    color: #7B8BAD;
    font-family: Barlow;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
   
    
  }

  .footer-bottom-2 {
    color: var(--gray);
    font-family: Barlow;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    
  }

  @media (min-width:768px) {
   .header-keyboard-mobile {
     display: none;

   }

    .white-btn {
      margin-right: 40px;
      padding: 16px 27px 16px 26px;
    }
    .header-section-1 {
      gap: 474px;
      margin-top: 49px;
      margin-left: 39px;
    }

    .additional-between-1-2 {
      display: flex;
      flex-direction: column;
      margin-left: 39px;
      margin: 0;
      gap: 30px;
    }

    .title {
      width: 339px;
      height: 96px;
      margin: 0;
    }

    .header-paragraph {
      width: 339px;
      height: 78px;
      margin-top: 0;
      margin-left: 0;

    }

    .orange-btn {
      padding: 16px 27px 16px 26px;
    }

    .header-section-2 {
      display: flex;
      gap: 37px;
      margin-left: 39px;
      margin-top: 39px;
      margin-left: 0;
      order: 2;
    }

    .text-and-keyboard {
      display: grid;
      grid-template-columns: 1fr 1fr;
     
    }
    
    .header-keyboard-tablet {
        display: inline-block;
        width: 478px;
        left: 447px;
        top: 160px;
        border-radius: [object Object]px;
        height: 425px;

        border-radius: [object Object]px;
      

        margin-left: 59px;
      
    }

    .header-section-3 {
       margin-top: 62px;
       
    }

    .header-additional-and-section-2 {
      margin-left: 39px;
      margin-top: 122px;
      
    }
    
    .header-section-1 {
      margin-bottom: 0;
    }
    
    .main-section-1-img-1 {
      width: 214px;
      height: 320px;
    
      
    }

    .transpharent-cover {
      
      border-radius: 18px;
      background-color: #f16718;
      width: 214px;
      height: 320px;
      margin-left: 39px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    } 



















    main {
     width: 100%;
    }
    .main-section-1 {
      margin-top: 40px;
      margin-left: 0;
      gap: 30px;
    }
  
    .main-section-1-img-2 {
      width: 445px;
      height: 320px;
    
    }

    .main-section-2 {
      margin: 0;
      gap: 0;
      display: flex;
      flex-direction: row;
      margin-top: 72px;
    }

    .main-section-2-title {
      margin: 0;
      text-align: left;
      margin-left: 39px;
      width: 255px;
      left: 39px;
      top: 1017px;
      border-radius: nullpx;
      height: 108px;

    }

    .main-section-2-paragraph {
      font-family: Barlow;
      font-size: 16px;
      font-weight: 500;
      line-height: 26px;
      letter-spacing: 0px;
      text-align: left;
      margin-right: 40px;
      width: 398px;
      left: 330px;
      top: 1032px;
      border-radius: nullpx;
      height: 78px;
      margin-top: 10px;

    }

    footer {
      width: 100%;
    }
    
    .footer-boxes {
      display: grid;
      grid-template-columns: 50% 50%;
      margin-top: 142px;
      margin-left: 39px;
      margin-right: 98px;
      
      
    }

    .footer-section-1 {
      margin-top: 0;
      display: flex;
      align-items: start;
     
      
    }









    

    .footer-section-1-img {
      margin-bottom: 40px;
    }

    .footer-section-1-title {
      margin-bottom: 24px;
      font-size: 24px;
      font-weight: 900;
      line-height: 28px;
      letter-spacing: 0px;
      text-align: left;
      font-family: Barlow;

      
    }

    .footer-section-1-paragraph {
      margin-left: 0;
      width: 281px;
      left: 39px;
      top: 1452px;
      border-radius: nullpx;
      height: 104px;
      font-size: 16px;
      font-weight: 500;
      line-height: 26px;
      letter-spacing: 0px;
      text-align: left;
      font-family: Barlow;
      margin-right: 69px;

    }




    .footer-section-2 {
      margin-top: 0;
      display: flex;
      align-items: start;
      margin-left: 33px;
    }

    .footer-section-2-img {
      margin-bottom: 40px;
    }

    .footer-section-2-title {
      margin-bottom: 24px;
      font-size: 24px;
      font-weight: 900;
      line-height: 28px;
      letter-spacing: 0px;
      text-align: left;
      font-family: Barlow;

    }

    .footer-section-2-paragraph {
      margin: 0;
      width: 281px;
      left: 39px;
      top: 1452px;
      border-radius: nullpx;
      height: 104px;
      font-size: 16px;
      font-weight: 500;
      line-height: 26px;
      letter-spacing: 0px;
      text-align: left;
      font-family: Barlow;
     

    }



    .footer-section-3 {
      margin-top: 72px;
      display: flex;
      align-items: start;
     
    }

    .footer-section-3-img {
      margin-bottom: 40px;
    }

    .footer-section-3-title {
      margin-bottom: 24px;
      font-size: 24px;
      font-weight: 900;
      line-height: 28px;
      letter-spacing: 0px;
      text-align: left;
      font-family: Barlow;

    }

    .footer-section-3-paragraph {
      margin-left: 0;
      width: 281px;
      left: 39px;
      top: 1452px;
      border-radius: nullpx;
      height: 104px;
      font-size: 16px;
      font-weight: 500;
      line-height: 26px;
      letter-spacing: 0px;
      text-align: left;
      font-family: Barlow;
      
    }



    .footer-section-4 {
      margin-top: 72px;
      display: flex;
      align-items: start;
      margin-left: 33px;
    }

    .footer-section-4-img {
      margin-bottom: 40px;
    }

    .footer-section-4-title {
      margin-bottom: 24px;
      font-size: 24px;
      font-weight: 900;
      line-height: 28px;
      letter-spacing: 0px;
      text-align: left;
      font-family: Barlow;

    }

    .footer-section-4-paragraph {
      margin-left: 0;
      width: 281px;
      left: 39px;
      top: 1452px;
      border-radius: nullpx;
      height: 104px;
      font-size: 16px;
      font-weight: 500;
      line-height: 26px;
      letter-spacing: 0px;
      text-align: left;
      font-family: Barlow;
      margin-bottom: 0;

    }

    .footer-bottom {
      margin-top: 142px;
     
      
      
    
    }
  
    
   
  }